@font-face {
    font-family: 'Inter';
    font-display: swap;
    font-weight: 400 600 700;
    src: url('assets/fonts/Inter-VariableFont_slnt\,wght.ttf') 
         format('truetype');
  }



:root {

--font-f-default: 'Inter', 'sans-serif';


--clr-primary-100: hsl(75, 94%, 57%);

--clr-neutral-100: hsl(0, 0%, 100%);
--clr-neutral-200: hsl(0, 0%, 20%);
--clr-neutral-300: hsl(0, 0%, 12%);
--clr-neutral-400:hsl(0, 0%, 8%);

--fs-14: 0.875rem;
--fs-28: 1.75rem;

--fw-normal: 400;
--fw-semi-bold: 600;
--fw-bold: 700;

}


*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
svg {
  display: block;
  max-width: 100%;
}

body {
    font-family: var(--font-f-default);
    background-color: var(--clr-neutral-400);
    color: var(--clr-neutral-100);
}

main {
    margin: 2rem;
}
.wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    background-color: var(--clr-neutral-300);
    border-radius: .875rem;
    padding: 2.5rem;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    margin-bottom: 1.5rem;
}

h1 {
    font-size: var(--fs-28);
    font-weight: var(--fw-semi-bold);
    text-align: center;
}

h2 {
    padding-top: .5rem;
    padding-bottom: 1.75rem;
    color: var(--clr-primary-100);
    text-align: center;
    font-weight: var(--fw-semi-bold);

}
.profile-summary {
    margin-bottom: 1.75rem;
    text-align: center;
}




.flex-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.list-item {
    display: block;
    width: 100%;
    border-radius: .5rem;
    background-color: var(--clr-neutral-200);
    list-style: none;
    text-align: center;
    padding: .875rem 6.5rem;
    
}

.link {
    font-weight: var(--fw-bold);
    text-decoration: none;
    color: var(--clr-neutral-100);
}


.list-item:hover {
    background-color: var(--clr-primary-100);
    .link{color: var(--clr-neutral-300);}
}



@keyframes fade {
    0% {
        opacity: 0;
        margin-top: 10px;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}


@media (max-width: 485px) {
    .wrapper {
        margin: 1rem;
    }

    .container {
        flex-direction: column;
        padding: 1.5rem;
    }

    .profile-image {
        height: 4rem;
        width: 4rem;
        margin-bottom: 1rem;
    }

    h1 {
        font-size: 1.5rem; /* Adjust font size for smaller screens */
        padding-bottom: 0.3rem;
    }

    h2 {
        font-size: .875rem; /* Adjust font size for smaller screens */
        padding-top: 0.25rem;
        padding-bottom: 2rem;
    }

    .profile-summary {
        font-size: .875rem;
        margin-bottom: 1.5rem;
    }

    .list-item {
        padding: 0.875rem 5.5rem; /* Reduce padding for smaller screens */
    }

    .link {
        font-size: 0.875rem; /* Adjust font size for smaller screens */
    }
}
